@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 22 69% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 28 100% 97.06%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 31.93 98.2% 78.24%;
    --muted-foreground: 0 0% 20%;
    --accent: 28 100% 97.06%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 85.49%;
    --input: 31.93 98.2% 78.24%;
    --ring: 0  0%  6.67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13.33%;
    --foreground: 210 40% 98%;
    --card: 26.4 92.59% 5.29%;
    --card-foreground: 210 40% 98%;
    --popover: 26.4 92.59% 5.29%;
    --popover-foreground: 210 40% 98%;
    --primary: 22 69% 53%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 26.4 92.59% 5.29%;
    --muted-foreground: 0 0% 93.73%;
    --accent: 26.4 92.59% 5.29%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 26.67%;
    --input: 0 0% 15%;
    --ring: 212.7 26.8% 83.9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
